body {
  margin: 0; /* Remove default body margin */
}

::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
        border-radius: 4px; /* Rounded corners of the thumb */
      }
      
      ::-webkit-scrollbar-track {
        background-color: #f5f5f5; /* Color of the scrollbar track */
      }
      
      /* For Firefox */
      /* Firefox uses a different style for scrollbars */
      /* You can adjust these values based on your preference */
      /* Note: Firefox currently does not support rounding corners */
      /* and background color for scrollbar thumb and track */
      
      /* Uncomment the following lines if you want to style the Firefox scrollbar */
      /*
        scrollbar-width: thin;
        scrollbar-color: #888 #f5f5f5;
      */